<div style="text-align:center">
    <div style="margin:10mm">
        <h1>Covid Info !</h1>
        <p>Learn about covid latest informations !</p>
        <img style="width : 70%"
            src="https://firebasestorage.googleapis.com/v0/b/covidinfo-23af0.appspot.com/o/covid2.jpg?alt=media&token=0fa30032-c4d3-4932-8b0d-2b89c82df207" 
            alt="CovidInfo image"
        />
    </div>
    <button class="btn btn-info" (click)="covidinfoService.signInWithGoogle()">Sign in with Google</button>
</div>
